*/dev/Solutions
*/dev/SamplesProject
*/dev/Tools
*/dev/BinTemp
*/dev/Cache
*/dev/Code/CryEngine
*/dev/Code/Framework
*/dev/Code/SDKs
*/dev/Gems/Clouds
*/dev/Code/Sandbox
*/dev/ProjectTemplates
*/dev/MultiplayerProject
*/dev/FeatureTests
*/dev/Bin64
*/dev/BinLinux64
*/dev/Editor
*/dev/Engine
*/docs
*.ilk
*.suo
*.user
*.o
*.temp
*.bootstrap.digests
*.log
*.exp
*.vssettings
*.exportlog
*.mayaSwatches
*.ma.swatches
*.dds
*.bak
*.bak2
*.options
*.pyc
*.db