dev/Solutions
dev/BinTemp
dev/Cache
dev/Code/SDKs
*.ilk
*.suo
*.user
*.o
*.temp
*.bootstrap.digests
*.log
*.exp
*.vssettings
*.exportlog
*.mayaSwatches
*.ma.swatches
*.dds
*.bak
*.bak2
*.options
*.pyc
*.db